.body--dark .default-table.full-height .q-table__bottom {
  background-color: var(--bg-headers-dark);
  color: var(--text-headers-dark);
}

.body--dark .default-table .q-table__middle.scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track-dark);
}

.body--dark .default-table .q-table__middle.scroll::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-dark);
}

.body--dark
  .default-table
  .q-table__middle.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-dark);
}

.body--dark .default-table .selected-card {
  background: var(--bg-headers-dark);
}

.body--dark .default-table .q-table--grid.fullscreen,
.body--dark .default-table.fullscreen .q-table__top {
  background: var(--bg-headers-dark);
  color: var(--text-headers-dark);
}

.body--dark .q-table__grid-content {
  background: var(--q-dark-page);
}
