.default-table {
    width: 100%;
    overflow-x: auto;
    max-width: var(--zoom-width);
}

.default-table thead tr {
    font-weight: bold;
    position: sticky;
    top: -2px;
    z-index: 1;
}

.default-table tbody tr:last-child {
    font-weight: bold;
    position: sticky;
    bottom: -1px;
    z-index: 1;
}

.default-table thead th:last-child,
.default-table tbody td:last-child {
    font-weight: bold;
    position: sticky;
    right: 0;
    z-index: 1;
}

.default-table thead th:first-child,
.default-table tbody td:first-child {
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: 1;
}

.default-table .q-table__card .q-table__top,
.default-table .fullscreen .q-table__top {
    top: 0px;
}

.default-table .q-table__progress .q-linear-progress {
    width: var(--zoom-width);
    max-width: var(--zoom-width);
}

.default-table .sortable-header {
    cursor: pointer;
}

.default-table .asc .sortable-header {
    position: relative;
}

.default-table .asc .sortable-header::before {
    content: '\\25B2';
    /* Setinha para cima */
    position: absolute;
    top: -10px;
    right: 0;
}

.default-table .desc .sortable-header::before {
    content: '\\25BC';
    /* Setinha para baixo */
    position: absolute;
    top: -2px;
    right: 0;
}

.default-table .fade-enter-active,
.default-table .fade-leave-active {
    transition: opacity 0.5s;
}

.default-table .fade-enter,
.default-table .fade-leave-to {
    opacity: 0;
}

.default-table.fullscreen {
    max-height: var(--zoom-height);
}

.default-table .no-drag {
    cursor: not-allowed;
}

.default-table .q-table__grid-content {
    margin-top: -3px;
}

.default-table .q-table__grid-content .q-list .q-item .column {
    width: 50%;
}

.default-table .q-table__grid-content .q-list .q-item {
    padding: 2px 16px;
}

/*
.default-table .q-table__middle.scroll {
    overflow: visible ;
}
*/

.default-table .q-table__control {
    display: contents;
}

.default-table .q-table__bottom {
    width: 100%;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding-right: 10vw;
}

.default-table .row-filters {
    padding: 20px;
}

.default-table .q-table thead,
.default-table .q-table__top {
    position: sticky;
    -webkit-position: sticky;
    z-index: 2;
    opacity: 1;
    left: 0;
}

.default-table .q-table--grid .q-table__middle {
    display: none;
}

.default-table .q-table thead tr:first-child th:first-child,
.default-table .q-table td:first-child,
.default-table .tr-sum {
    position: sticky;
    -webkit-position: sticky;
    left: 0;
    z-index: 1;
    opacity: 1;
}

.default-table.fullscreen .q-table__top {
    top: 0px;
}

.default-table.fullscreen .q-table thead {
    top: 50px;
}

.default-table .table-toolbar {
    padding-left: 8px;
}

.default-table .table-toolbar .q-toolbar {
    padding: 0;
}

.default-table .table-toolbar .q-space {
    width: 5px;
    height: 50px;
}

.default-table .q-table__middle.scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.default-table.fullscreen .default-table .q-table__bottom {
    position: fixed;
}

.default-table.fullscreen .fixed-top {
    position: sticky;
}

@media only screen and (max-width: 1024px) {
    .default-table .q-table thead {
        top: -2px;
    }

    .default-table .q-table__bottom {
        bottom: 0;
        position: sticky;
        z-index: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .default-table.full-height .q-table__bottom {
        position: fixed !important;
        z-index: 9;
    }


    .default-table .q-table thead {
        top: -2px;
    }

    .default-table .q-table__bottom {
        bottom: 0;
        position: sticky;
        z-index: 1;
    }
}