.body--light .default-table.full-height .q-table__bottom {
  background: var(--bg-headers-light);
  color: var(--text-headers-light);
}

.body--light .default-table .q-table__middle.scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track-light);
}

.body--light .default-table .q-table__middle.scroll::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-light);
}

.body--light
  .default-table
  .q-table__middle.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-light);
}

.body--light .default-table .selected-card {
  background: var(--bg-headers-light);
}

.body--light .default-table .q-table--grid.fullscreen,
.body--light .default-table.fullscreen .q-table__top {
  background: var(--bg-headers-light);
  color: var(--text-headers-light);
}
.body--light .q-table__grid-content {
  background: var(--q-light-page);
}
